{
  //-------------------------------------------------------------
  //
  // General settings
  //
  //-------------------------------------------------------------

  // Friendly site name
  friendlySite:                               "fcf-example-moving-containers",

  // Full Site URL
  site:                                       "http://fcf-example-moving-containers",

  // Permission to install mirrors on the site
  avalibleMirrors:                            true,

  // Mail server for sending mail
  mailService:                                "<mailService>",

  // Sender's Email address
  mailAddress:                                "<email@email.com>",

  // User of the mail service for sending mail
  mailUser:                                   "<mailuser>",

  // Password user of the mail service to send mail
  mailPassword:                               "<mail_user_pass>",

  // Port used when starting via fcfnode. When launched via fsfserver, the parameter specified in the server.json file is used
  port:                                       8080,

  //en Maximum time to send a file
  maxFileSendTime:                            60*60,  // In seconds

  // Array of projection directories on database tables
  projectionDirectories:                      ["projections"],

  // Enabled packages
  packages:                                   ["fcfManagement", "fcfSimpleAuthorization"],

  // Array of additional configuration files
  configs:                                    [],

  //-------------------------------------------------------------
  //
  // Node dependencies
  //
  //-------------------------------------------------------------
  // An object containing a list of NODEJS package dependencies.
  // The key is the name of the NODEJS package. The value is an object with the version field.
  // The version field stores the version number of the required package and may contain
  // an additional version constraint in the form of qualifying constructs ">", ">=", "<", "<=".

  nodeDependencies:{
    // "[NODEJS_PACKAGE_NAME]": { version: "[VERSION]" },
    // "[NODEJS_PACKAGE_NAME]": { version: ">=[VERSION]" },
    // "[NODEJS_PACKAGE_NAME]": true,
  },

  //-------------------------------------------------------------
  //
  // Database connection settings
  //
  //-------------------------------------------------------------

  dataClient: {
    defaultConnection: "default",
    connections: {
      default: {
        type: "mysql",
        host: "localhost",
        db:   "fcf-example-moving-containers",
        user: "fcf-example-moving-containers",
        pass: "fcf-example-moving-containers",
      }
    },
  },

  //-------------------------------------------------------------
  //
  // Router settings
  //
  //-------------------------------------------------------------

  routes:[
    {
      uri:          "",
      controller:   "fcf:NServer/NControllers/Page.js",
      source:       "templates/pages/main-page.tmpl",
      title:        "FCF Application",
      description:  "Main page of the FCF application",
    },
    {
      uri:          "favicon.ico",
      controller:   "fcf:NServer/NControllers/File.js",
      source:       "favicon.ico",
    },
    {
      uri:          "/templates/*",
      controller:   "fcf:NServer/NControllers/File.js",
      source:       "templates",
    },
    {
      uri:          "/translations/*",
      controller:   "fcf:NServer/NControllers/File.js",
      source:       "translations",
    },
    {
      uri:          "robots.txt",
      controller:   "fcf:NServer/NControllers/File.js",
      source:       "robots.txt",
    },

  ],

  //-------------------------------------------------------------
  //
  // System variables
  //
  //-------------------------------------------------------------
  // The object containing the initial values of system variables.
  // The key is the full name of the system variable, and the value is a object with a description

  systemVariables: {
    "application:strings": {
      description: "Output lines",
      value: [
          "Hello world",
          "Javascript",
          "CSS",
          "HTML"
        ],
    }
  },

  //-------------------------------------------------------------
  //
  // Views settings
  //
  //-------------------------------------------------------------

  usageViews:{
    // List of types and templates
    // EXAMPLE:
    // "TYPE":{
    //   "read*": { template: "TEMPLATE_PATH" },
    //   "edit*": { template: "TEMPLATE_PATH" },
    //   "add*":  { template: "TEMPLATE_PATH" },
    // },
  },

  //-------------------------------------------------------------
  //
  // defaultArgs settings
  //
  //-------------------------------------------------------------
  // Overloads default argument values for templates

  defaultArgs: {
    // "[TEMPLATE_PATH]": {
    //  "[ARG_NAME]" : [ARG_DEFAULT_VALUE]
    // }
  },

  //-------------------------------------------------------------
  //
  // fcfSimpleAuthorization module settings
  //
  //-------------------------------------------------------------

  // Permission to register users
  fcfSimpleAuthorization_enableRegistration:  false,

  // Allowing a user to log in by email
  fcfSimpleAuthorization_enableLoginByEmail:  false,

}
