//~OPTIONS
{
  // Basic inheritance template
  // Default: undefined
  // extends:"<super_template.tmpl>",

  // An array of roles that have permission to access the template
  // Default: ["*"]
  // access: ["*"],

  // Automatic template update mode when the argument changes.
  // Acceptable values:
  //   true|"all" - The update is performed on any change
  //   "external" - The update is performed only if the external template was the initiator of the change.
  //   false      - The template is not being updated
  // This option can be overridden by the fcfAutoUpdate template argument.
  // Default: false
  //autoUpdate: false,

  // If true, the rendering is performed on the client side.
  // Acceptable values:
  //   true|"all"   - Rendering is done on the client, when done on the browser side
  //   "update"     - The first render is done on the server side and the update is on the client side
  //   "update_np"  - The first render is done on the server side and the update is on the client side.
  //                  Parameters of the programmable type are not recalculated.
  //   false        - Rendering is always done on the server side
  // This option can be overridden by the fcfClientRendering template argument, but only if the option is true.
  // Default: false
  //clientRendering: false,

  // Additional JS & CSS files to connect (JS files are also connected on the server side)
  // Default: []
  include: ["moving-containers.css"],

  // Plug-in additional JS & CSS files on the client side
  // Default: []
  //clientInclude: [],

  // If the parameter is false, the template is not wrapped in a container,
  // a wrapper is not created for it, and its arguments are not available on the client.
  // Default: true
  //wrapper: true,

  // DOM elements merge flag.
  // If true, then existing items are not replaced when updated, but updated.
  // Default: false
  merge: true,

  // If set to true, the DOM elements are not changed by default when the template is updated.
  // To update DOM elements on update, you need to call the update|reload|refresh methods with the updateStatic flag.
  // Default: false
  //static: false,

  // Saving the initial values of children template arguments.
  // This option can be overridden by the fcfInitialStorageOfChildren template argument.
  // Default: false
  //initialStorageOfChildren: false,

  // The template is displayed when the template is locked or false,
  // then the lock is performed only by the transparent container.
  // If the option is true, then @controls:lock is used.
  // This option can be overridden by the fcfLockTemplate template argument.
  // Default: true
  //lockTemplate: true
}

//~ARGUMENTS
{
   _strings:        fcf.argProg(),
   _file:           fcf.argVal("/files/background.jpg?dump=@{{fcf.id()}}@"),
   _reboundCounter: 0,
   _modify:         false
}

//~TEMPLATE
<div class="moving-containers-view" style="background-image: url(@{{args._file}}@);">
  <div class="moving-containers-view-info">
    Rebound counter: <span name="rebound_counter">#{{args._reboundCounter}}#</span>
  </div>
  %{{
    for(let i = 0; i < args._strings.length; ++i) {
  }}%
      @{{
        render.template(
          "+view-item",
          {
            string: fcf.argRef(`_strings[${i}]`),
            fcfEventRebound: "parent.setArg('_reboundCounter', parent.getArg('_reboundCounter')+1)"
          })}}@
  %{{
    }
  }}%
</div>

<fieldset>
<legend>Editor</legend>
@{{
  render.template("@controls:tabs", {
    tab: fcf.argURL("tab", {default: "strings"}),
    items: fcf.argVal({
      strings: {
        title:    "Strings",
        content:  fcf.argTmpl("+strings", {strings: fcf.argRef("_strings")})
      },
      settings: {
        title:    "Settings",
        content:  fcf.argTmpl("+settings")
      }
    })
  });
}}@
</fieldset>

@{{ render.template("@controls:button", {title: fcf.t("Save"), enable: fcf.argRef("_modify"), fcfEventClick: "parent.onSave()"}); }}@
@{{ render.template("@controls:button", {title: fcf.t("Reload"), enable: fcf.argRef("_modify"), fcfEventClick: "parent.reload()"}); }}@
@{{ render.template("@controls:button", {title: fcf.t("Refresh"), enable: fcf.argRef("_modify"), fcfEventClick: "parent.refresh()"}); }}@


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~ SUB TEMPLATE view-item
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~OPTIONS view-item
{
  autoUpdate:      true,
  clientRendering: true,
}

//~ARGUMENTS view-item
{
  fcfClassInner: "moving-containers-view-item",
  string:        "",
}

//~TEMPLATE view-item
@{{args.string}}@

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~ SUBTEMPLATE strings
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~TEMPLATE strings
%{{
  for(let i = 0; i < args.strings.length; ++i) {
}}%
  <p>
    <table width="100%"><tr>
      <td width="100%">
        @{{ render.template("@controls:text-edit", {value: fcf.argRef(`strings[${i}]`), width: "100%"}); }}@
      </td>
      <td>
        @{{ render.template("@controls:button", {title: fcf.t("Remove"), fcfEventClick: `parent.getParent().getParent().onRemoveString(${i})`}); }}@
      </td>
    </tr></table>
  </p>
%{{
  }
}}%
@{{ render.template("@controls:button", {title: fcf.t("Add record"), fcfEventClick: "parent.getParent().getParent().onAddString()"}); }}@

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~ SUBTEMPLATE settings
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~TEMPLATE settings
JPG background file:
<p>
<input type="file" autocomplete="off" fcfEventChange="parent.getParent().onFile()"></input>
</p>
