.moving-containers-view{
  border: 1px solid #e2e2e2;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
}

.moving-containers-view-item{
  position: absolute;
  text-shadow: 3px 3px 4px #000a, 0px 0px 1px #fff, 0px 0px 2px #000;
  font-weight: bold;
  white-space: nowrap;
  font-size: 1.5em;
  color: #777;
  left: -10000;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moving-containers-view-info{
  position: absolute;
  color: #555;
  margin: 5px;
  text-shadow: 0px 0px 1px #fff, 0px 0px 2px #fff;
  z-index: 2;
}
